<?xml version="1.0" encoding="UTF-8"?><server><rmi>C:\Programme\Java\jdk1.5.0_02\bin\rmiregistry.exe</rmi><number>10</number><servername>mittelverwaltung</servername><driver>com.mysql.jdbc.Driver</driver><dbname>fbmittelverwaltung</dbname><dburl>mysql://localhost</dburl><dbpswd>mittelverwaltung</dbpswd></server>